.headerlist {
    background-color: #006e6e;
    list-style: none;
    min-height: 35px;
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
}

li>a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 5px;
    text-decoration: none;
}

li>a.active {
    background-color: #1b5f5f;
}

li>a:hover {
    background-color: #dfdfdf;
    color: #006e6e;
}

li>a.active:hover {
    background-color: #1b5f5f;
    color: #ffffff;
}