<div *ngIf="product">
    <div>
        <img [src]="product.image" alt="image product" width="300px">
    </div>
    <div>
        <ul>
            <li>Nombre: {{product.title}} </li>
            <li>Precio: {{product.price | currency}}</li>
        </ul>
        <p>{{product.description}}</p>
    </div>

    <button (click)="createProduct()">create product</button>
    <button (click)="updateProduct()">uptadate product</button>
    <button (click)="deleteProduct()">delete product</button>
</div>